.trafficLight{
    background-color: black;
    width: 70px;
    margin: auto;
    border-radius: 5%;
    padding: 5px;;
    
}

.trafficTop{
    background-color: black;
    width: 10px;
    height:80px;
    margin: auto;
}

.circle{
    height: 60px;
    width: 60px;
    background-color: #bbb;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 5px;
   
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color:rgb(0, 214, 0);
}
.purple{
    background-color: rgb(238, 94, 238);
}

.selected{
    box-shadow: 0 0 30px rgb(241, 243, 141);
}

.unselected{
    opacity: 50%;
}

